<!--Top Banner Strip-->
<div id="header">

	<div class = "brand">
		Block4Block<span style = "font-size: 14px; color: green;margin-top: -5px;">*beta</span>
	</div>
	
	<!-- Tabs -->
	<a href="/"><div class = "tabBox">Home</div></a>
	<a href=""><div class = "tabBox">About</div></a>
	<a href="/search"><div class = "tabBox">Search</div></a>
	<a href=""><div class = "tabBox">Donate</div></a>
	<a href=""><div class = "tabBox">News</div></a>
	
	<!-- Login Here -->
	<div class = "tabBoxLogin">
		<button type = "button">Language</button>
		<button type = "button" onclick = "signup()">Sign Up</button>
		<button style = "border-right: 0px;" type = "button" onclick = "login()">Login</button>
	</div>
	
</div>
<div class = "signUpBox"></div>
